/* Design created by GiMaker 2025
Legacy CSS were used so if something were not updated then it worked at least
*/

html, body {
	margin: 0px;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	justify-content: center;
    align-items: center;
	overflow-y: auto;
}

.container {
	margin: 0px;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.header {
	width: 100% !important;
	height: 50px;
	z-index: 100;
	display: flex;
    background: rgba(255,255,255,0.949999988079071);
    opacity: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.03999999910593033);
    overflow: hidden; 
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.header {
	will-change: backdrop-filter;
}

.headerBubble {
    width: 10%;
    height: 70%;
    background: rgba(255,206,206,0.3100000023841858);
    opacity: 1;
    position: relative;
    top: 15%;
    left: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
	justify-content: center;
    align-items: center;
    overflow: hidden;
	cursor: pointer;
	display: flex;
  }

  .bubbleTextsh {
    width: 10%;
    color: #ff9f9f;
    position: fixed;
    font-family: Golos Text;
    font-weight: Regular;
    font-size: 100%;
    opacity: 1;
    text-align: center;
	padding-top: 3px;
	padding-left: 3px;
	transition: all 0.1s ease-in-out;
  }

  .bubbleText {
    width: 10%;
    color: #6a0000;
    position: fixed;
    font-family: Golos Text;
    font-weight: Regular;
    font-size: 100%;
    opacity: 1;
    text-align: center;
    z-index: 2;
	transition: all 0.1s ease-in-out;
  }

.bubbleText:hover {
	transform: translate(-3px, -3px);
}

.bubbleText:hover + .bubbleTextsh {
	transform: translate(-2px, -2px);
	text-shadow: rgb(255, 0, 0) 0px 0px 10px;
}

  .headerBubble2 {
	width: 10%;
	height: 70%;
	background: rgba(255,206,206,0.3100000023841858);
	opacity: 1;
	position: relative;
	top: 15%;
	left: 25px;
	border-radius: 6px;
	justify-content: left;
	align-items: center;
	overflow: hidden;
	cursor: pointer;
	display: flex;
}

.slider {
	display: flex;
	transition: transform 0.3s ease-in-out;
	gap: 10px;
	margin-left: 10px;
}

.bubble {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	border: 4px solid gray;
	flex-shrink: 0;
}

.bubble.selected {
    border: 3px solid #000; 
    transform: scale(1.2); 
    transition: transform 0.2s ease; 
}

.headerBubble3 {
	width: 50px;
	height: 70%;
	background: rgba(255,206,206,0.3100000023841858);
	opacity: 1;
	position: relative;
	top: 15%;
	left: 30px;
	border-radius: 25px;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	transition: all 0.1s ease-in-out;
}

.headerBubble3:hover {
	box-shadow: 0px 3px 4px rgba(255, 0, 0, 0.25);
	transform: translate(0px, -3px);
}

.profileIcon {
	position: relative;
	cursor: pointer;
	image-rendering: optimizeQuality;
	opacity: 50%;
}

.ProfileInformation {
    position: relative;
	justify-content: left;
    align-items: center;
	z-index: 2;
	height: 550px;
	display: flex;
}

.profileName {
	position: relative;
	font-family: Golos Text;
	font-weight: Bold;
	font-size: 300%;
	color: #000000;
	text-align: center;
	left: 300px;
}

.ChannelBanner {
	height: 500px;
	position: relative;
	justify-content: center;
    align-items: center;

}

.profileImage {
	opacity: 50%;
}

.profileBorder {
	position: relative;
	border-radius: 50%;
	border: 5px solid #000000;
	height: 96px;
	width: 96px;
	top: -18px;
	left: 250px;
}

.profileInfoLow {
	display: flex;
	flex-direction: row;
}

.card {
	width: 100%;
	height: 200px;
	margin: 20px;
	font-family: Golos Text;
	font-weight: Bold;
	color: black;
	text-decoration: none;
	cursor: pointer;
	display: flex;
	flex-direction: column;
}

.cardtext:hover {
	text-decoration: underline;
}

.cardvid {
	height: 168.75px;
	margin: 0px;
	border-radius: 6px;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
	text-decoration: none;
}

.cardtext {
	text-decoration: none;
	padding-top: 10px;
	position: relative;
}

.card > p {
	text-decoration: none;
}