/* Design created by GiMaker 2025
Legacy CSS were used so if something were not updated then it worked at least
*/
html, body {
	margin: 0px;
	width: 100%;
	min-height: 120% !important;
	overflow-x: hidden;
	justify-content: center;
	align-items: center;
	overflow-y: hidden;
}

.container {
	margin: 0px;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.header {
	width: 100% !important;
	height: 8%;
	z-index: 100;
	display: flex;
	background: rgba(255,255,255,0.949999988079071);
	opacity: 1;
	position: fixed;
	top: 0px;
	left: 0px;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.03999999910593033);
	overflow: hidden;
	backdrop-filter: blur(8px);
 	-webkit-backdrop-filter: blur(8px);
}

.header {
	will-change: backdrop-filter;
}

.abc {
	width: 10%;
	height: 70%;
	background: rgba(255,206,206,0.3100000023841858);
	opacity: 1;
	position: relative;
	top: 15%;
	left: 20px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	cursor: pointer;
	display: flex;
}

.headerBubble {
	width: 10%;
	height: 70%;
	background: rgba(255,206,206,0.3100000023841858);
	opacity: 1;
	position: relative;
	top: 15%;
	left: 20px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	cursor: pointer;
	display: flex;
  }

  .bubbleTextsh {
	width: 10%;
	color: rgba(255,159,159,1);
	position: fixed;
	font-family: Golos Text;
	font-weight: Regular;
	font-size: 100%;
	opacity: 1;
	text-align: center;
	padding-top: 3px;
	padding-left: 3px;
  }

  .bubbleText {
	width: 10%;
	color: rgba(106,0,0,1);
	position: fixed;
	font-family: Golos Text;
	font-weight: Regular;
	font-size: 100%;
	opacity: 1;
	text-align: center;
	z-index: 2;
  }

.header-f {
	display: none;
}

.video-seen {
	width: 75%;
	height: 100%;
	display: block;
	left: 5%;
	position: relative;
}

video, .video {
	width: 90%;
	left: 0%;
	border-radius: 6px;
}

video {
	height: 100%;
	border-radius: 6px;
	position: absolute;
}

.videoblur {
 	content: "";
 	top: 0px;
 	left: 0%;
 	display: block;
 	filter: blur(50px);
 	filter: blur(20px);
 	position: absolute;
 	z-index: -1;
 }

.next-videos {
	width: 25%;
	height: 750px;
	right: 0%;
	position: absolute;
	top: 80px;
	
}

.container {
	position: absolute;

}

.controlls {
	width: 95%;
	height: 25px;
	position: absolute;
	justify-content: center;
	align-items: center;
	top: 83%;
/*	left: 10%; */
}

#pause {
	width: 25px;
	height: 25px;
	background-color: rgb(74, 74, 74); 
}

#fullscreen {
	width: 25px;
	height: 25px;
	background-color: red;
	position: absolute;
	left: 85%;
	top: 0%; 
}

.polzunok {
	width: 30px;
	height: 30px;
	background-color: rgb(74, 74, 74);
	border-radius: 100%;
	position: relative;
	left: 0%;
	bottom: 10px;
}

.scroll {
	position: absolute;
	width: 94%;
	height: 10px;
	background-color: lightblue;
	bottom: 50px;
	border-radius: 10px;
}

#playBackRate {
	position: absolute;
	top: -25%;
	right: 7%;
	height: 30px;
}

.fullscreen {
	position: fixed;
	left: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	background-size: cover;
}

.main-videos {
	max-width: 100%;
	min-height: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.card {
	width: 50%;
	height: 28%;
	margin: 20px;
	font-family: Golos Text;
	font-weight: Bold;
	color: black;
	text-decoration: none;
	cursor: pointer;
	display: flex;
}

.cardtext:hover {
	text-decoration: underline;
}

.cardvid {
	width: 300px;
	height: 168.75px;
	margin: 0px;
	border-radius: 6px;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.53);
	text-decoration: none;
}

.cardtext {
	text-decoration: none;
	padding-top: 10px;
	position: relative;
}

.card > p {
	text-decoration: none;
	width: 325px;
}


.controlls-f {
	width: 100%;
	height: 25px;
	position: absolute;
	top: 95%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.LikeDislike {
	display: flex;
	position: absolute;
	top: 94%;
	left: 75px;
}

.titleV {
	display: flex;
	position: absolute;
	top: 90%;
	left: 75px;
	font-size: 24px;
}

.views {
	display: flex;
	position: absolute;
	top: 97%;
	left: 75px;
}

.description {
	display: flex;
	position: absolute;
	top: 98%;
	left: 75px;
	font-size: 18px;
	clear: both;
	height: 300px;
	overflow-y: scroll;
}

.description > pre {
	margin: 0px;
}

.comments {
	left: 75px;
	font-size: 20px;
	position: relative;
	top: 300px;

}